<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.dtuhostelmess" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_mess"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="utils.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".ConfirmPurchase"
            android:label="@string/title_activity_confirm_purchase" >
        </activity>
        <activity
            android:name=".Profile"
            android:label="@string/title_activity_profile" >
        </activity>
        <activity
            android:name=".Buy"
            android:label="@string/title_activity_buy"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name=".Register"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name=".MessMenu"
            android:label="@string/title_activity_mess_menu" >
        </activity>
        <activity
            android:name=".MonthlyBill"
            android:label="@string/title_activity_monthly_bill" >
        </activity>
        <activity
            android:name=".MessSubscribe"
            android:label="@string/title_activity_mess_subscribe" >
        </activity>
        <activity
            android:name=".MessOff"
            android:label="@string/title_activity_mess_off" >
        </activity>
        <activity
            android:name=".CurrentOrders"
            android:label="@string/title_activity_current_orders" >
        </activity>
        <activity
            android:name=".CustomAdapterCurrentOrders"
            android:label="@string/title_activity_custom_adapter_current_orders" >
        </activity>
        <activity
            android:name=".ViewBill"
            android:label="@string/title_activity_view_bill" >
        </activity>
        <activity
            android:name=".ViewMessOff"
            android:label="@string/title_activity_view_mess_off" >
        </activity>
    </application>

</manifest>
